.action-slider {
    margin-bottom: 30px;
    margin-top: 10px;
}

#action-continue-button-wrapper,
#wrapper-months {
    display: none;
}

.control-label {
    margin-top: 10px;
}

body .required {
     border-color: #a94442;
     background-color: #ffc9c9;
 }

.required:focus {
    background-color: inherit !important;
}